dvtitleadvisor
@font-face {
    font-family: customfont;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: customfont_main;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: menufont;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: cardtitle;
    src: url('../fonts/oswald.light.ttf');
}

@font-face {
    font-family: customfontbold;
    src: url('../fonts/Lora-Regular.ttf');
}

p {
    font-family: customfont !important;
}

.dvlogo span {
    text-shadow: 1px 1px 1px #666;
}

.nopadding {
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-bottom: 2px;
}

.firstsession {
    background: url('../Images/indianflag.jpg')no-repeat !important;
    background-size: 100% !important;
    min-height: 670px !important;
}

.top-buffer {
    margin-top: 210px !important;
}

.background_about {
    background: url('../Images/socialmedia.jpg')no-repeat !important;
    background-size: 100% 100% !IMPORTANT;
    background-attachment: fixed !important;
    color: #fff !important
}

    .background_about h2 {
        color: rgba(28,28,28,1) !important
    }



.background_about_sec {
    background: url('../Images/salutepic2.jpg')no-repeat !important;
    background-size: 100% 100% !IMPORTANT;
    background-attachment: fixed !important;
}

    .background_about_sec h2 {
        color: rgba(19,19,19,1) !important
    }

.background_about_third {
    background: url('../Images/banner.jpg')no-repeat !important;
    background-size: 100% 100% !IMPORTANT;
    background-attachment: fixed !important;
}

.background_about_fourth {
    background: url('../Images/naminationbanner.jpg')no-repeat !important;
    background-size: 100% 100% !IMPORTANT;
    background-attachment: fixed !important;
}

.paddingnomination {
    min-height: 400px
}

.aa {
    background: rgba(255,255,255,0.1);
}
.white {
 color:white!important
}
.Create_yuvanirman_btn {
    position: absolute;
    top: 400px;
    left: 37%;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.logo-image {
    transition: 0.6s
}

.sub {
    background: rgba(225,225,225,0.3) !important;
    background-color: rgba(225,225,225,0.3) !important;
    color: #fff;
}

    .sub .smallicon {
        color: #fff !important;
    }

.nation {
    background: rgba(255,255,255,0.97) !important;
    /*-webkit-box-shadow: 1px 23px 14px -19px rgba(76,77,57,0.6)!important;
    -moz-box-shadow: 1px 23px 14px -19px rgba(76,77,57,0.6)!important;
    box-shadow: 1px 23px 14px -19px rgba(76,77,57,0.6)!important;*/
    border: none !important;
    position: absolute;
    width: 100%;
    z-index: 1000000000000000000000000000000000000000000;
}

body {
    background: #fff;
    font-family: 'customfont' !important;
    letter-spacing: 0px;
}
.ad_color {
background:#ffc036!important;
}
.background_white h5 {
    text-transform: uppercase
}

.background_white {
    background: #fff !important;
    padding: 5px;
    border: 1px dotted rgba(76,76,76,0.3);
}

    .background_white a {
        color: black !important;
    }

        .background_white a:hover {
            color: #666 !important;
            border-bottom: 1px solid #111
        }
.white a {
    color: white !important;
}

.customc a {
    color: white !important;
}

    .customc a:hover {
        color: #f5f5f5 !important;
        border-bottom: 1px solid #111
    }

.background {
    background: #fff !important;
    padding: 30px;
    background-size: cover;
    font-family: 'customfont' !important;
    background-size: cover;
    z-index: 99999;
    letter-spacing: 1px;
    -webkit-box-shadow: 11px 18px 14px -4px rgba(76,77,57,0.7);
    -moz-box-shadow: 11px 18px 14px -4px rgba(76,77,57,0.7);
    box-shadow: 11px 18px 14px -4px rgba(76,77,57,0.7);
}

.background_dvmedium {
    background: rgba(255,255,255,0.8);
    padding: 30px;
    background-size: cover;
    border-radius: 5px;
    font-family: 'customfont' !important;
    background-size: cover;
    z-index: 99999;
    letter-spacing: 1px;
    -webkit-box-shadow: 11px 18px 14px -4px rgba(76,77,57,0.7);
    -moz-box-shadow: 11px 18px 14px -4px rgba(76,77,57,0.7);
    box-shadow: 11px 18px 14px -4px rgba(76,77,57,0.7);
}

.htitle {
    width: 100%;
    padding: 5px;
    color: #fff;
    background: #543f87;
}

.smallicon {
    background-color: transparent !important;
    border: none;
    color: #fff;
    text-decoration: none;
}

    .smallicon:hover {
        color: rgba(225,225,225,0.8);
        text-decoration: dotted;
    }

.navbar {
    overflow: hidden;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background: transparent;
}

.pic {
    display: block !important;
    max-width: 230px !important;
    max-height: 95px !important;
    width: auto !important;
    height: auto !important;
}

.dvcontent {
    background: url('../Images/greybak.jpg')no-repeat;
    background-size: cover;
    border-radius: 4px !important;
    min-height: 250px;
    padding: 4px;
    overflow: no-display;
}

.nav-link {
    color: #fff;
    font-family: menufont !important;
    font-size: 14px;
    text-transform: uppercase
}

element.style {
}

.nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.none {
    display: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff;
    background: #007bff;
}

.joindv_Index {
    position: absolute;
    color: #fff;
    right: 10px;
    margin-top: -45%;
    max-width: 600px !important;
    padding: 10px 10px 10px 10px;
    text-align: left
}

    .joindv_Index h2 {
        color: #fff
    }

.btn {
    font-family: 'customfont' !important;
    font-weight: bold;
    font-size: 12px !important;
}

.btn-success {
    letter-spacing: 2px;
}

    .btn-success:hover {
        color: #fff;
        background-color: #28a745 !important;
        border-color: #28a745;
        background: #28a745;
    }

.btn-primary {
    letter-spacing: 2px;
}

.btn-success:hover {
    color: #fff;
}

.icons_organizer i {
    color: #004080 !important;
    -webkit-border-radius: 100%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border: 2px solid #004080;
    background: transparent;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin-left: 5px;
}

.alink_active {
    color: #888 !important;
}

.alink {
    color: #888 !important;
}

    .alink:hover {
        color: #222 !important;
    }

.nav-link {
    display: block;
    padding: .5rem 1rem;
    border-bottom: 1px solid transparent;
}

    .nav-link:hover {
        border-bottom: 1px solid #fff;
    }

a:hover {
    background: transparent !important;
}



.btn-danger:hover {
    color: #fff;
    background: #dc3545 !important;
    border-color: #dc3545;
}


.loginbtn {
    background: #169b47 !important;
    padding: 7px !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    color: #fff !important;
    letter-spacing: 2px;
    min-width: 100px !important;
    border: none;
    border-radius: 0px;
    font-size: 16px !important;
}

    .loginbtn:hover {
        background: #169b47 !important;
        padding-left: 22px;
        padding-right: 22px;
        color: #fff !important;
        letter-spacing: 2px;
        border: none;
        font-size: 14px;
    }

.large_h {
    font-size: 60px;
    color: #fff !important;
}

h3 {
    color: black;
    text-align: center;
}

.pb {
    background: #ffc036;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff !important;
    border: none;
}

    .pb:hover {
        background: #ffd800;
    }



.txtlargebox {
    width: 100% !important;
    min-height: 50px;
    box-shadow: 1px 1px 15px 1px #fff;
    font-size: 20px;
    padding: 5px;
    border-radius: 2px;
    color: #808080;
    font-family: 'customfont';
    border: none;
}

.bg_whiteback {
    background: rgba(225,225,225,0.3);
    min-height: 300px;
}

    .bg_whiteback img {
        width: 100%;
        border: 5px solid #fff;
    }

    .bg_whiteback .row div {
        padding: 5px;
        transition: 0.5s;
    }

        .bg_whiteback .row div:hover {
            padding: 5px;
            transform: scale(1.1); /* Equal to scaleX(0.7) scaleY(0.7) */
            z-index: 10000000;
            transition: 0.5s;
        }

    .bg_whiteback .row {
        padding: 10px;
    }

.padding {
    padding: 40px;
    font-family: customfont !important;
    font-size: 14px;
}

.padding_small {
    padding: 20px;
    font-family: customfont !important;
    font-size: 14px;
}

.padding_col {
    padding: 10px;
    font-family: customfont !important;
    font-size: 14px;
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(225,225,225,0.3);
    text-align: center;
    font-size: 12px;
    z-index: 20000000;
}

label {
    font-size: 14px !important;
}

.bg_whiteback .fa {
    color: #ffc036 !important;
}

.bg_whiteback .dvicon {
    position: absolute;
    background: #fff;
    cursor: pointer;
}



h2 {
    color: black;
}


.font {
    font-size: 25px;
    font-weight: bold;
}

.container {
    text-align: left;
}


.contentbody {
    background: rgba(255, 255, 255, 1);
    color: #004080;
    min-height: 400px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #555;
}


.editcontent {
    background: rgba(255, 255, 255, 1);
    color: #004080;
    padding: 10px;
    min-height: 400px;
    text-align: center;
}

.contentheadhead {
    background: #004080;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
}

.button {
    background-color: #0094ff;
    padding-right: 10px;
}

.padding {
    padding-right: 50px;
}

.btnlogin {
    font-size: 18px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: #fb7020;
    transition: 0.3s;
    border: none !important;
    color: #fff !important;
    min-width: 100px !important;
}

.large_h {
    font-size: 60px;
    color: #fff !important;
}

.btnlogin:hover {
    background: #fe823b !important;
    transition: 0.3s;
    border: none !important;
}

.txtlargebox {
    width: 100% !important;
    min-height: 50px;
    box-shadow: 1px 1px 15px 1px #fff;
    font-size: 20px;
    padding: 5px;
    border-radius: 2px;
    color: #808080;
    font-family: 'customfont';
    border: none;
}

.txtbx {
    width: 100% !important;
    font-size: 24px;
    min-height: 30px;
    border-radius: 3px;
    padding: 3px !important;
    border: 1px solid #004080;
}

    .txtbx:hover {
        box-shadow: 1px 1px 5px 1px #eaeaea;
    }

.index {
    background: url('../images/loginimage.jpg')no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}



.register {
    background: url('../Images/gym3.jpg')no-repeat;
    background-size: 100% 100%;
    height: 100%;
    position: fixed;
    min-width: 50%;
}

.team_ad {
    color: #004080;
}

.log {
    color: red !important;
}

.sincolr {
    color: orange;
}

.adcre {
    background: url('../images/wall1.jpg')no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.adedt {
    background: url('../images/wall2.jpg')no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.adind {
    background: url('../images/wall3.jpg')no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.adpas {
    background: url('../images/wall4.jpg')no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.tbl {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

    .tbl tr {
        border: none !important;
    }

.table-dark td, .table-dark th, .table-dark thead th {
    border: none;
}

.hr {
    border: 1px solid #222;
    text-align: center;
    margin: 0px auto;
    max-width: 200px;
}

.headcol {
    color: black !important;
}

.buttoncol {
    background-color: green !important;
}



.form-control {
    font-size: 14px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    height: 40px !important;
    letter-spacing: 1px;
}

.fontblack a {
    color: #222 !important
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        text-decoration: none !important;
    }

.dvmedium_box {
    background: url("../Pics/bb1.jpg")no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #462060;
    color: #111 !important;
    border-radius: 5px;
}

    .dvmedium_box .form-control {
        border: 1px solid #808080;
    }

.field-validation-error span {
    color: #dc3545 !important;
    background: rgba(225,225,225,0.9);
    font-weight: bold;
    font-size: 10px !important
}

h2 .tx {
    color: black !important;
}

p {
    font-family: customfont !important;
}

.padding-top {
    padding-bottom: 70px !important;
}

.dvsmall_box {
    background: #a90329 !important; /* Old browsers */
    width: 100%;
    padding: 10px !important;
    border: none !important;
    font-size: 20px !important;
    letter-spacing: 2px;
    box-shadow: 1px 1px 10px 1px #999;
    color: #fff !important;
    border-radius: 5px;
}

    .dvsmall_box:hover {
        background: #a90329 !important; /* Old browsers */
        width: 100%;
        padding: 10px !important;
        border: none !important;
        box-shadow: 1px 1px 15px 1px #999;
        color: #fff !important;
        border-radius: 5px;
    }

ul {
    list-style: none !important;
}

.hr1 {
    width: 5%;
    border: solid 1px #222;
}

.float-left {
    text-align: center !important;
}

.content-wrapper {
    text-align: center !important;
}

footer {
    text-align: center !important;
}

.hr2 {
    width: 80% !important;
}

.pen {
    color: black !important;
}

.headcol {
    color: white !important;
    text-align: center !important
}

.table-color {
}

.table-color {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4efc0+0,abbd73+100;Olive+3D+%232 */
    background: #e4efc0; /* Old browsers */
    background: -moz-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4efc0 0%,#abbd73 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
}

.edit {
    color: black !important;
}

label {
    color: #111 !important;
}

.logo-heading {
    font-family: 'Open Sans' !important;
    color: orange;
    text-shadow: 1px 1px black;
}


.footer-text {
    font-size: 12px !important;
    color: white !important;
}





.product-cover {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

    .product-cover img {
        height: 200px;
    }

    .product-cover .span {
        display: inline;
    }

    .product-cover .product-name {
        font-size: 18px;
    }

    .product-cover .product-colors {
        font-size: 18px;
    }

    .product-cover .prices span {
        display: inline-block;
        padding: 10px;
    }

    .product-cover:hover {
        box-shadow: 0 0 15px #DA322A;
    }

.product-buttons {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    width: 100%;
}

.product-cover:hover .product-buttons {
    display: block;
}

.m-price {
    font-weight: 300;
    color: #ccc;
}

.o-price {
    font-weight: bold;
}

.headings {
    font-size: 20px;
    display: inline-block;
}

.pull-right {
    float: right;
}
/* slick slider */
.slider {
    width: 100%;
}

.slick-slide {
    margin: 0px 20px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.slick-slider-card {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*slick slider*/

.btn-login {
    width: 100%;
    font-size: 16px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: #004080 !important;
    transition: 0.3s;
    border: none;
    color: #fff !important;
    min-width: 120px !important;
}

.navbar-brand {
    color: #222 !important;
    font-weight: bold;
}

.lblcart {
    font-family: 'customfont' !important;
}

.card {
    box-shadow: 0 4px 6px 0 #ccc;
    padding: 0px;
    text-align: center;
    background-color: #f1f1f1;
}

.padding-left {
    padding-left: 18px !important;
    font-size: 15px;
}

.image-padding {
    padding: 0px !important;
}

.actual-heading {
    color: #EB5B0E;
    font-weight: bold !important;
}

.inner-heading {
    color: #083F84;
    font-weight: bold !important;
}

ul li {
    padding-left: 5px;
    padding-right: 5px;
}



@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

/*#timer {
    margin: 0 auto!important;
}

    #timer div {
        display: inline-block;
        line-height: 1;
        padding: 70px;
        border-radius: 5px;
        transition:1s!important;
    }

    #timer span {
        display: block;
        font-size: 20px;
        color: black;
        text-align: center;      
    } */

.div_main {
    padding: 60px;
}

.div_margin {
    margin: auto !important;
    width: 100% !important;
}

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

    .hvrbox img {
        max-width: 100%;
    }

    .hvrbox .hvrbox-layer_bottom {
        display: block;
    }

    .hvrbox .hvrbox-layer_top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 15px;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .hvrbox:hover .hvrbox-layer_top,
    .hvrbox.active .hvrbox-layer_top {
        opacity: 1;
    }

    .hvrbox .hvrbox-text {
        text-align: center;
        font-size: 14px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .hvrbox .hvrbox-text_mobile {
        font-size: 15px;
        border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
        border-top: 1px solid rgba(179, 179, 179, 0.7);
        margin-top: 5px;
        padding-top: 2px;
        display: none;
    }

    .hvrbox.active .hvrbox-text_mobile {
        display: block;
    }

.number-slot {
    display: inline-block;
    border: 2px solid black;
    font-family: Arial, sans-serif;
    font-size: 60px;
    line-height: 1.2em;
    overflow: hidden;
    height: 90px;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    color: white;
    padding: 10px !important;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}


    .number-slot .number {
        position: relative;
    }

@keyframes moveNumberOut {
    0% {
        margin-top: 0em;
    }

    30% {
        margin-top: -1.2em;
    }

    100% {
        margin-top: -1.2em;
    }
}

.move-number-out {
    animation: moveNumberOut 1.5s;
}

.Follow {
    color: #fff !important;
}



.footer_padding {
    background: rgba(0, 21, 42, 0.7) !important;
    width: 100% !important;
    padding-top: 160px !important;
    padding-bottom: 100px !important;
    color: #222;
}

.icon_circle {
    -webkit-border-radius: 100%;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 2px solid #f6f6f6;
    background: transparent;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    margin-left: 10px;
}

    .icon_circle:hover {
        border: 2px solid #fff !important;
        color: #f6f6f6 !important;
    }

.hr {
    width: 5%;
    border: 1px solid white !important;
}

.hr_follow {
    width: 5%;
    border: 1px solid black;
}

.padding-left .hr {
    width: 5%;
    border: 1px solid #fff;
    margin-left: auto !important;
}

.about {
    color: white;
    text-align: center;
}

.footer_content {
    padding-left: 50px !important;
    padding-top: -10px;
}

.top {
    position: fixed;
    right: 10px;
    bottom: 30px;
    color: #fff;
    background: green;
    width: 30PX;
    height: 30PX;
    text-align: center;
    padding: 4px;
    z-index: 100000;
}

.imgflag {
    width: 85%;
    padding-bottom: 30px
}

.footer_panel {
    background: url('../Images/footer.jpg')no-repeat !important;
    background-size: 100% !important;
    background-position: center;
    background-attachment: fixed;
}

.p {
    color: #004080 !important;
}

.Error {
    color: #ff0000
}

.navbar {
    padding: 0px 10px 0px 10px !important
}



.joindv a {
    color: rgba(76,76,76,1) !important
}

.fontsize {
    font-size: 14px;
}

.Organisers_div {
    min-height: 300px !important;
}

.colour {
    color: blue !important;
}

.favisible a {
    color: #fff !important;
}

h1 {
    padding-bottom: 10px;
    color: #004080;
    text-align: center;
    margin: 0px auto;
    font-family: customfontbold !important;
}

h2 {
    font-family: customfontbold;
}

h3 {
    font-family: customfontbold;
}

h4 {
    font-family: customfontbold;
}

.mdl {
    background: #fff !important
}

.lblsuc {
    color: #fff !important;
    background: #28a745 !important;
    padding: 5px;
    text-align: center;
    width: 100%
}
.lblwar {
    color: #fff !important;
    background: #d9d512 !important;
    padding: 5px;
    text-align: center;
    width: 100%
}

.dvevent {
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 0%, rgba(6,4,41,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(255,255,255,0.7)), color-stop(100%, rgba(6,4,41,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 0%, rgba(6,4,41,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 0%, rgba(6,4,41,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 0%, rgba(6,4,41,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 0%, rgba(6,4,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#060429', GradientType=1 );
}

.col_ml {
    background: #00051d !important;
    color: #fff
}

.hover {
    opacity: 0.8;
    transition: 0.4s;
}

    .hover:hover {
        opacity: 1;
        transition: 1s;
    }

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}

    .image-box img {
        transition: all 0.3s;
        display: block;
        width: 100%;
        transform: scale(1);
    }

    .image-box:hover img {
        transform: scale(1.1);
    }

.background_about_sec_color {
    background: rgba(255,255,255,0.6) !important;
}

.transparent {
    background: transparent !important;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    border-bottom: none !important;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none !important;
}

.enrol_div {
    background: #ff0000;
    color: white;
    padding: 10px;
    width: 170px;
    height: 170px;
}

.h4_enroll {
    padding-top: 30px;
    font-family: customfont !important;
}

.modal-content {
    border: none !important;
}

.div_background {
    width: 100% !important;
    background: white !important;
}

.dvtitlecard {
    margin-top: -106px;
    position: absolute;
    background: rgba(255, 76, 0,0.9);
    color: #ffffff !important;
    padding: 15px;
    font-family: cardtitle;
    font-size: 35px !important;
    text-transform: uppercase;
    color: #ffffff;
}

.display_desktop {
    padding-top: 200px;
}

.dvtitleadvisor {
    position: absolute;
    /*background: rgba(255, 76, 0,0.9);*/
    color:#004080 !important;
    padding: 15px;
    font-family: cardtitle;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 200px;
    width: auto;
    /*margin-left: -256px;*/
    margin-left: -205px;
}
.dvtitleadvisor1 {
    position: absolute;
    /*background: rgba(255, 76, 0,0.9);*/
    color: #004080 !important;
    padding: 15px;
    font-family: cardtitle;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 200px;
    width: auto;
    /*margin-left: -256px;*/
    margin-left: -150px;
}
.div_place{
    margin-bottom:50px!important;
}



@media only screen and (max-width:1124px) {
    .navbar-light .navbar-toggler {
        position: absolute !important;
        left: 80%;
        top: 5px;
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
    }

    .navbar {
        background: rgba(43,43,43,1);
    }

    .custome_margin {
        height: 50px !important
    }

    .imgflag {
        width: 65%;
        padding-bottom: 10px
    }
    /*.telegram_dv {
        font-size: 20px !important;
        left: auto !important;
        width: 100%;
        right: 0 !important;
        color: #fff !important;
        margin-top: 0% !important;
        background: rgba(242, 103, 34, 0.9);
        text-align: center;
        position: relative;
        padding: 50px 10px 50px 10px !important;
    }

        .telegram_dv a {
            color: #fff !important
        }*/

    .caption {
        left: auto;
        top: auto;
        width: 100%;
        margin-top: -1% !important;
        position: relative !important;
        background: #f6fad1;
        padding: 10px;
    }

    .show-mobile {
        display: block !important;
    }

    .about {
        color: white;
    }

    .hr_follow {
        width: 7%;
        border: 1px solid black;
    }

    .about {
        color: white;
    }

    .icon_circle {
        color: #fff !important;
        border: 2px solid rgba(255, 255, 255, .1);
        font-size: 10px !important;
        width: 40px;
        height: 40px;
    }

    .footer_padding {
        padding-top: 60px !important;
        color: #004080;
    }

    .footer_panel {
        background: url('../Images/footer.jpg')no-repeat !important;
        background-size: cover !important;
    }

    h3 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1024px) {
    .firstsession {
        background: url('../Images/indianflag.jpg')no-repeat !important;
        background-size: 100% !important;
        min-height: 370px !important;
    }

    .nopadding img {
        -webkit-animation: zoom 20s;
        animation: zoom 20s;
        min-height: initial !important
    }

    .nopadding .h4_cus {
        font-size: 16px !important
    }

    .imgflag {
        width: 45%;
        padding-bottom: 15px
    }

    .flip-clock-wrapper {
        zoom: 0.6
    }

    .background_about {
        background: url('../Images/socialmediamobile.jpg')no-repeat !important;
        background-size: cover !IMPORTANT;
        background-attachment: fixed !important;
        color: #fff !important
    }

        .background_about h2 {
            color: #fff !important;
        }

        .background_about h3 {
            font-size: 18px;
        }

        .background_about h1 {
            font-size: 20px;
        }

        .background_about h4 {
            font-size: 16px;
        }

    .txtlargebox {
        width: 100% !important;
        min-height: 50px;
        box-shadow: 1px 1px 15px 1px #fff;
        font-size: 12px;
        padding: 5px;
        border-radius: 2px;
        color: #808080;
        font-family: 'customfont';
        border: none;
    }

    .large_h {
        font-size: 30px;
        color: #fff !important;
    }

    h3 {
        font-size: 18px;
    }

    .navbar-light .navbar-toggler {
        position: absolute !important;
        left: 80%;
        top: 5px;
        color: rgba(0,0,0,.5);
        border-color: transparent !important;
        z-index: 490000000000 !important;
    }

    .footerdv p {
        font-size: 12px !important
    }

    .number-slot {
        display: inline-block;
        border: 2px solid black;
        font-family: Arial, sans-serif;
        font-size: 28px;
        line-height: 1.3em;
        overflow: hidden;
        height: 45px;
        text-align: center;
        width: 70px;
        border-radius: 5px;
        color: white;
        padding: 10px !important;
        padding-bottom: 40px !important;
        background: rgba(76,76,76,1);
        background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
        background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    }

    .display_desktop {
        padding-top: 140px;
    }
}

@media only screen and (max-width:790px) {
    .padding {
        margin-top: 70%;
    }

    .flip-clock-wrapper {
        zoom: 0.5
    }

    .navbar {
        background: #fff;
    }

    .joindv_Index {
        position: absolute;
        color: black;
        right: 10px;
        margin-top: 10%;
        max-width: 600px !important;
        padding: 10px 10px 10px 10px;
        text-align: left;
        left: 0px !important;
    }

        .joindv_Index h2 {
            color: black
        }

    .padding_mobile {
        margin-top: 0 !important;
    }

    .dvlogo {
        font-size: 16px !important;
    }

    .logo-image {
        width: 100px !important;
    }

    .footer_padding {
        padding-top: -10px !important;
    }

    .background_about_sec {
        background: url('../Images/salutepic2mobile.jpg')no-repeat !important;
        background-size: 100% 100% !IMPORTANT;
        background-attachment: fixed !important;
    }

    .background_about_sec_color {
        background: rgba(255,255,255,0.7) !important;
    }

    .background_about_sec h2 {
        color: rgba(19,19,19,1) !important
    }

    .navbar {
        overflow: hidden;
        padding: 90px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        background: #fff;
    }

    .nav-link {
        color: #fff !important;
        font-family: menufont !important;
        font-size: 14px;
        letter-spacing: 1px !important;
        text-transform: uppercase
    }

        .nav-link:hover {
            color: #fff !important;
            font-family: menufont !important;
            font-size: 14px;
            text-transform: uppercase
        }

    .display_desktop {
        padding-top: 40px;
    }
}

@media only screen and (max-device-width: 424px)and (max-device-width:700px) {
    .Create_yuvanirman_btn {
        position: absolute;
        top: 415px;
        left: 18%;
    }

    .dvtitlecard {
        margin-top: -106px;
        position: absolute;
        background: rgba(255, 76, 0,0.9);
        color: #ffffff !important;
        padding: 15px;
        font-family: cardtitle;
        font-size: 15px !important;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: -75px !important;
    }

    .flip-clock-wrapper {
        zoom: 0.4
    }

    .background_about {
        background: url('../Images/socialmediamobile.jpg')no-repeat !important;
        background-size: cover !IMPORTANT;
        background-attachment: fixed !important;
        color: #fff !important
    }

    .number-slot {
        display: inline-block;
        border: 2px solid black;
        font-family: Arial, sans-serif;
        font-size: 18px;
        line-height: 1.7em;
        overflow: hidden;
        height: 45px;
        text-align: center;
        width: 50px;
        border-radius: 5px;
        color: white;
        padding: 4px !important;
        background: rgba(76,76,76,1);
        background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
        background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    }

    .dvlogo {
        font-size: 16px !important;
    }

    .logo-image {
        width: 100px !important;
    }

    .padding {
        margin-top: 210%;
    }

    .textbox_margin {
        margin-top: 10px;
    }

    .joindv_Index {
        position: absolute;
        color: black;
        right: 10px;
        margin-top: 63%;
        max-width: 600px !important;
        padding: 10px 10px 10px 10px;
        text-align: left;
        left: 2px;
    }

        .joindv_Index h2 {
            color: black
        }

    .padding_mobile {
        margin-top: 0 !important;
        font-family: customfont !important;
        font-size: 14px;
    }

    .h4_ad {
        font-size: 18px !important;
    }

    .navbar {
        overflow: hidden;
        padding: 90px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        background: rgba(0, 11, 36,0.9);
    }

    .nav-link {
        color: #fff !important;
        font-family: menufont !important;
        font-size: 14px;
        text-transform: uppercase
    }

        .nav-link:hover {
            color: #fff !important;
            font-family: menufont !important;
            font-size: 14px;
            text-transform: uppercase
        }

    .background_about_sec_color {
        background: rgba(255,255,255,0.7) !important;
    }

    .display_desktop {
        padding-top: 40px;
    }
}

@media screen and (min-device-width: 375px) and (max-device-width:420px) {
    .dvlogo {
        font-size: 14px !important;
    }

    .dvtitlecard {
        margin-top: -106px;
        position: absolute;
        background: rgba(255, 76, 0,0.9);
        color: #ffffff !important;
        padding: 15px;
        font-family: cardtitle;
        font-size: 15px !important;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: -75px !important;
    }

    .joindv_Index {
        position: absolute;
        color: black;
        right: 10px;
        margin-top: 62% !important;
        max-width: 600px !important;
        padding: 10px 10px 10px 10px;
        text-align: left;
        left: 2px;
    }

        .joindv_Index h2 {
            color: black
        }

    .padding {
        margin-top: 200% !important;
    }



    .navbar {
        overflow: hidden;
        padding: 90px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        background: rgba(0, 11, 36,0.9);
    }

    .nav-link {
        color: #fff !important;
        font-family: menufont !important;
        font-size: 14px;
        text-transform: uppercase
    }

        .nav-link:hover {
            color: #fff !important;
            font-family: menufont !important;
            font-size: 14px;
            text-transform: uppercase
        }

    .background_about_sec_color {
        background: rgba(255,255,255,0.7) !important;
    }
}

@media screen and (min-device-width: 300px) and (max-device-width:375px) {
    .dvlogo {
        font-size: 14px !important;
    }

    .display_desktop {
        display: none !important;
    }

    .h1_mobile {
        font-size: 25px;
    }

    .image_mobile {
    }

    .dvtitlecard {
        margin-top: -106px;
        position: absolute;
        background: rgba(255, 76, 0,0.9);
        color: #ffffff !important;
        padding: 15px;
        font-family: cardtitle;
        font-size: 15px !important;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: -75px !important;
    }

    .flip-clock-wrapper {
        zoom: 0.4
    }

    .enrol_div {
        background: #ff0000;
        color: white;
        padding: 10px;
        width: 130px;
        height: 140px;
    }

    .h4_enroll {
        padding-top: 30px;
        font-family: customfont !important;
        font-size: 18px;
    }

    .h2_mobile {
        font-size: 25px;
    }

    .joindv_Index {
        position: absolute;
        color: black;
        right: 10px;
        margin-top: 94% !important;
        max-width: 600px !important;
        padding: 10px 10px 10px 10px;
        text-align: left;
        left: 2px;
    }

        .joindv_Index h2 {
            color: black
        }

    .padding {
        margin-top: 260% !important;
    }



    .navbar {
        overflow: hidden;
        padding: 90px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        background: rgba(0, 11, 36,0.9);
    }

    .nav-link {
        color: #fff !important;
        font-family: menufont !important;
        font-size: 14px;
        text-transform: uppercase
    }

        .nav-link:hover {
            color: #fff !important;
            font-family: menufont !important;
            font-size: 14px;
            text-transform: uppercase
        }

    .background_about_sec_color {
        background: rgba(255,255,255,0.7) !important;
    }

    .display_desktop {
        padding-top: 40px;
    }
}

.registerbtn {
    background: #ff7c1f;
    border: 0px;
}

    .registerbtn:hover {
        background: #ff4b00 !important;
    }

.nopaddings img {
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
    min-height: 190px !important
}
