@{
    ViewBag.Title = "organizers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr {
        border: 2px solid #002945;
        width: 60px;
        text-align: left !important;
        float: left !important
    }

    body {
        background: #fff
    }
    .dvtitleadvisor2 {
        position: absolute;
        /*background: rgba(255, 76, 0,0.9);*/
        color: #004080 !important;
        padding: 15px;
        font-family: cardtitle;
        font-size: 12px !important;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 200px;
        width: auto;
        /*margin-left: -256px;*/
        margin-left: -177px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <img width="100%" src="~/Images/organizers_banner.jpg" />
        <div class="telegram_dv_normal">
            " <b>1</b>  DAY  &nbsp;<b>1</b> MINUTE
            <br />
            FOR OUR BRAVE HEARTS
            <br />
            IS IT TOO MUCH TO ASK FOR ? "
            <br />

            <br />

        </div>
    </div>
    <div class="row d-none d-md-block  row_highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-calendar fa-2x"></i> <a href="/Home/Events"> Events</a>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-users fa-2x"> @Html.ActionLink("NGO's", "NGO", "People")</i>
                </div>
                <div class="col-md-4 text-center">
                    <i style="color:#ff0000" class="fa fa-heart fa-2x"> @Html.ActionLink("Enroll", "Create", "People")</i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br />
            <br />
            <hr /><br /><br />
            <p>Mr. Habeeb Sultan Ali. | Mr. P. Ratnaraju.</p>
            <h1 style="text-align:left!important">AASRAA</h1>
            <p data-aos="fade-right">
                Advocates Association For Social Responsibility And Awareness(AASRAA) is Non-Governmental organisation Estabilished by a Group of Advocates from all over India with its Regd. Office at New Delhi and Corporate office at Hyderabad, Visakhapatnam and Berahampur.Since its Inception in the year 2010 it has been growing steadily for welfare of the consumers by promotional Activities aimed to Generate consumer Awareness for the protection of Consumer Rights and identifying the consumers who need help in filing consumer complaints in the appropriate Forums on behalf of such Ignorant , Illiterate and helpless consumers who are unable to do so.&nbsp; <br /><a target="_blank" style="color:#777!important" href="http://aasraa.in/">Read More..</a>
            </p>
            <br />
            <br />
        </div>

        <div class="col-md-4">
            <div class="padding_circle"></div>
            <img width="100%" src="~/Images/org1.jpg" />
            <p class="text-center icons_organizer">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </p>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <br />
            <br />
            <hr /><br /><br />
            <p>Mr. Eppalapali Ramesh.</p>
            <h1 style="text-align:left!important">EditPoint</h1>
            <p data-aos="fade-right">
                <b>Eppalapali Ramesh</b>, <br />
                Visionary, Chairman Telangana Photographers Welfare Association, CEO & MD Editpoint (OPC) Pvt Ltd, <br />
                Born on July 3, 1976, at Bellampally (V) Adilabad Dist, At a very early age, Mr. Ramesh fall in love with photography and started pursuing his career immediately after his SSC. From a young photographer, he transformed as an entrepreneur in the year 2003 by establishing Editpoint (OPC) Pvt Ltd. He is an inspiration to many photographers to grow from an individual to entrepreneur.
                <br />
                Mr. Ramesh achieved nearly 80+ awards in his profession and still counting.
                <br /> <br />
                His initiatives are
                <br />
                Workshops and Exhibitions:
                Organized 500+ workshops and 17 exhibitions major cities across the country
                <br /> <br />
                Magazines: <br />
                Photo Spot monthly edition - 2008 <br />
                Photo Spot web portal - 2010 <br />
                Photo Spot tablet - 2017 <br />
                Photo Fina monthly edition - 2019
            </p>
        </div>
        <div class="col-md-4">
            <div class="padding_circle"></div>
            <img width="100%" src="~/Images/org2.jpg" />
            <p class="text-center icons_organizer">
                <a target="_blank" href="https://www.facebook.com/editpointramesh/"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/editpointramesh/"><i class="fa fa-linkedin"></i></a>
                <a target="_blank" href="https://www.instagram.com/editpointramesh/"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://twitter.com/editpointramesh"><i class="fa fa-twitter"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <hr /><br /><br />
            <h1 style="text-align:left!important">MR. Harikrishna Inturu</h1>
            <p data-aos="fade-right">
                Harikrishna Inturu a 20year media expertise worked extensively in USA as a journlist and a highly qualified person who is a man of ideas. <br /> The answer man to all problems, who solves most of them before they arise, forms the crucial technical base, and is capable of tackling all technical issues concerned with media, Television, production, and broadcasting.  <br />I STAND FOR THE NATION idea founded by Harikrishna Inturu after the havoc incident of Pulwama attack which happened on Feb 14th, 2019.<br /> Therefore, Harikrishna forms the fulcrum of the Team.
            </p>

        </div>
        <div class="col-md-4 text-center">
            <br />
            <br />

            <img width="70%" src="~/Images/org3.jpg" />
            <p class="text-center icons_organizer">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <br />
            <br />
            <hr /><br /><br />
            <h1 style="text-align:left!important">MR. Indrakanti Muralidhar</h1>
            <p data-aos="fade-right">
                Indrakanti Muralidhar has a proven record of 25 years’ experience in Photography and video field. He has worked as DOP for couple of feature films. Also having strong technical skill in advanced digital photo and video editing.<br />  Also, Indraknati Muralidhar is into excellent team coordination, With his Creative and positive thinking he is an inspiration for the Industry and will act as spirit of team.
            </p>

        </div>
        <div class="col-md-4 text-center">
            <br /><br />
            <br />
            <img width="70%" src="~/Images/org4.jpg" />
            <p class="text-center icons_organizer">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </p>
        </div>
    </div><div>
    <br />
    <br />
    <hr /><br /><br />
    <h1 style="text-align:left!important">Advisor's</h1>

    <div class="row text-center">
        <br /><br />
        <div class="col-md-3 div_place">

            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/adv1.jpg" class="rounded-circle " style="min-height:200px!important; width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor">Nandiraju Srinivasrao,Adivisory Board</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/advisor_pankaj.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor">Pankaj Srinivasan, Chief Advisor</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/advisor2.jpg" class="rounded-circle " style="max-height:200px!important; width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor">Dr.P.Viswanath,Adivisory Board</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/co5.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor">Kaveti Sai Nagesh,Adivisory Board</label>
            </div>
        </div>
       
    </div>

    <br />
    <br />
    <hr /><br /><br />
    <h1 style="text-align:left!important">Co-ordinator's</h1>

    <div class="row text-center">
        <br /><br />
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">

                <img src="~/Images/hrithvikImages/co1.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor1">Katta Arvin Prasad</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/co2.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;"/>
                <label class="dvtitleadvisor1">B V L Navakanth</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/co3.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor1">Bukka Srinivas</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/co4.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor2">Siddartha Gollapelli</label>
            </div>
        </div>

    </div>
    <br />
    <br />
    <div class="row text-center">
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden;">
                <img src="~/Images/hrithvikImages/co6.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor1">M ShaikShafiulla</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden;">
                <img src="~/Images/hrithvikImages/co7.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor1">Mansha Vinay Kumar</label>
            </div>
        </div>
        <div class="col-md-3 div_place">
            <div style="max-height:200px;overflow-y:hidden">
                <img src="~/Images/hrithvikImages/co8.jpg" class="rounded-circle " style="max-height:200px!important;width:200px;border-radius:100%;" />
                <label class="dvtitleadvisor2">Pashikanti muralimohan</label>
            </div>
        </div>
    </div>
    <br />
    <br /> 
</div>
</div>
<br /><br />